<div>
    <div style="display: flex">
        <input type="tinp number" class="form-control" placeholder="# tasks" id="taskNum" aria-label="Username">
        <select class="tinp form-select" aria-label="Default select example">
            <option value="1">CE</option>
            <option value="2">RM</option>
            <option value="3">DM</option>
            <option selected value="4">EDF</option>
        </select>
        <select class="tinp form-select" aria-label="Default select example">
            <option value="1">NCSP</option>
            <option value="2">PIP</option>
            <option value="3">PCP</option>
        </select>
        <button type="tinp button" id="ctasks" class="btn btn-primary">Go</button>
    </div>
    <div class="tasks">
        <div class="task">
            <input type="number" class="tinp form-control" placeholder="Phase" aria-label="Username">
            <input type="number" class="tinp form-control" placeholder="Period"  aria-label="Username">
            <input type="number" class="tinp form-control" placeholder="Exection" aria-label="Username">
            <input type="number" class="tinp form-control" placeholder="Deadline" aria-label="Username">
            <input type="number" class="tinp form-control" placeholder="Resource" aria-label="Username">
            <input type="number" class="tinp form-control" placeholder="R1D" aria-label="Username">
            <input type="number" class="tinp form-control" placeholder="Resource2" aria-label="Username">
            <input type="number" class="tinp form-control" placeholder="R2D" aria-label="Username">
        </div>
    </div>
</div>
<button type="tinp button" id="ctests" class="btn btn-primary">Go</button>
<div class="tests">

</div>
<div class="sim">

</div>
<script src="/javascripts/schsim.js"></script>